<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
        <string>{5}</string>
		<key>cht</key>
		<string>{5}</string>
		<key>gif</key>
		<string>5.gif</string>
		<key>png</key>
		<string>5.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
    <dict>
        <key>chs</key>
        <string>{10}</string>
        <key>cht</key>
        <string>{10}</string>
        <key>gif</key>
        <string>10.gif</string>
        <key>png</key>
        <string>10.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{20}</string>
        <key>cht</key>
        <string>{20}</string>
        <key>gif</key>
        <string>20.gif</string>
        <key>png</key>
        <string>20.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{30}</string>
        <key>cht</key>
        <string>{30}</string>
        <key>gif</key>
        <string>30.gif</string>
        <key>png</key>
        <string>30.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{40}</string>
        <key>cht</key>
        <string>{40}</string>
        <key>gif</key>
        <string>40.gif</string>
        <key>png</key>
        <string>40.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{50}</string>
        <key>cht</key>
        <string>{50}</string>
        <key>gif</key>
        <string>50.gif</string>
        <key>png</key>
        <string>50.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{60}</string>
        <key>cht</key>
        <string>{60}</string>
        <key>gif</key>
        <string>60.gif</string>
        <key>png</key>
        <string>60.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{70}</string>
        <key>cht</key>
        <string>{70}</string>
        <key>gif</key>
        <string>70.gif</string>
        <key>png</key>
        <string>70.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{80}</string>
        <key>cht</key>
        <string>{80}</string>
        <key>gif</key>
        <string>80.gif</string>
        <key>png</key>
        <string>80.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{90}</string>
        <key>cht</key>
        <string>{90}</string>
        <key>gif</key>
        <string>90.gif</string>
        <key>png</key>
        <string>90.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{100}</string>
        <key>cht</key>
        <string>{100}</string>
        <key>gif</key>
        <string>100.gif</string>
        <key>png</key>
        <string>100.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{110}</string>
        <key>cht</key>
        <string>{110}</string>
        <key>gif</key>
        <string>110.gif</string>
        <key>png</key>
        <string>110.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{120}</string>
        <key>cht</key>
        <string>{120}</string>
        <key>gif</key>
        <string>120.gif</string>
        <key>png</key>
        <string>120.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{dttb}</string>
        <key>cht</key>
        <string>{dttb}</string>
        <key>gif</key>
        <string>dttb.gif</string>
        <key>png</key>
        <string>dttb.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{jzdt}</string>
        <key>cht</key>
        <string>{jzdt}</string>
        <key>gif</key>
        <string>jzdt.gif</string>
        <key>png</key>
        <string>jzdt.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{jztx}</string>
        <key>cht</key>
        <string>{jztx}</string>
        <key>gif</key>
        <string>jztx.gif</string>
        <key>png</key>
        <string>jztx.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{kyxs}</string>
        <key>cht</key>
        <string>{kyxs}</string>
        <key>gif</key>
        <string>kyxs.gif</string>
        <key>png</key>
        <string>kyxs.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{kzxs}</string>
        <key>cht</key>
        <string>{kzxs}</string>
        <key>gif</key>
        <string>kzxs.gif</string>
        <key>png</key>
        <string>kzxs.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{mxbz}</string>
        <key>cht</key>
        <string>{mxbz}</string>
        <key>gif</key>
        <string>mxbz.gif</string>
        <key>png</key>
        <string>mxbz.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{tcbz}</string>
        <key>cht</key>
        <string>{tcbz}</string>
        <key>gif</key>
        <string>tcbz.gif</string>
        <key>png</key>
        <string>tcbz.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{wtbz}</string>
        <key>cht</key>
        <string>{wtbz}</string>
        <key>gif</key>
        <string>wtbz.gif</string>
        <key>png</key>
        <string>wtbz.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{xxbz}</string>
        <key>cht</key>
        <string>{xxbz}</string>
        <key>gif</key>
        <string>xxbz.gif</string>
        <key>png</key>
        <string>xxbz.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{xybz}</string>
        <key>cht</key>
        <string>{xybz}</string>
        <key>gif</key>
        <string>xybz.gif</string>
        <key>png</key>
        <string>xybz.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{xzbz}</string>
        <key>cht</key>
        <string>{xzbz}</string>
        <key>gif</key>
        <string>xzbz.gif</string>
        <key>png</key>
        <string>xzbz.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{ycbz}</string>
        <key>cht</key>
        <string>{ycbz}</string>
        <key>gif</key>
        <string>ycbz.gif</string>
        <key>png</key>
        <string>ycbz.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{yzbz}</string>
        <key>cht</key>
        <string>{yzbz}</string>
        <key>gif</key>
        <string>yzbz.gif</string>
        <key>png</key>
        <string>yzbz.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{zcbz}</string>
        <key>cht</key>
        <string>{zcbz}</string>
        <key>gif</key>
        <string>zcbz.gif</string>
        <key>png</key>
        <string>zcbz.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{zxbz}</string>
        <key>cht</key>
        <string>{zxbz}</string>
        <key>gif</key>
        <string>zxbz.gif</string>
        <key>png</key>
        <string>zxbz.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{xzdl}</string>
        <key>cht</key>
        <string>{xzdl}</string>
        <key>gif</key>
        <string>xzdl.gif</string>
        <key>png</key>
        <string>xzdl.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{zyhl}</string>
        <key>cht</key>
        <string>{zyhl}</string>
        <key>gif</key>
        <string>zyhl.gif</string>
        <key>png</key>
        <string>zyhl.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{zywx}</string>
        <key>cht</key>
        <string>{zywx}</string>
        <key>gif</key>
        <string>zywx.gif</string>
        <key>png</key>
        <string>zywx.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{zzbz}</string>
        <key>cht</key>
        <string>{zzbz}</string>
        <key>gif</key>
        <string>zzbz.gif</string>
        <key>png</key>
        <string>zzbz.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>{lxwl}</string>
        <key>cht</key>
        <string>{lxwl}</string>
        <key>gif</key>
        <string>lxwl.gif</string>
        <key>png</key>
        <string>lxwl.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
</array>
</plist>
